.cryptocurrency {
  display: flex;
  justify-content: center;
  flex: 1;
  .container {
    display: flex;
    justify-content: flex-start;
    padding: 30px;
    flex-direction: column;
    max-width: 100%;
    .table {
      margin-bottom: 40px;
    }
    .table:last-child {
      margin-bottom: 0;
    }
    .title {
      text-align: center;
      padding: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .flex-row {
      display: flex;
      justify-content: space-between;
    }
    img {
      height: 28px;
      cursor: pointer;
    }
    .navigation-container {
      display: flex;
      align-items: center;
      justify-content: center;
      .btn {
        margin: 0 15px;
        border-radius: 50%;
      }
    }
  }
}
